:root {
    --primary-color: #0E3D66;
    --secondary-color: #7C8504;
    --accent-color: #F5362C;
}
* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Dosis', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

html, body {
    background-color: #252525;
}

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
